{% extends 'base.twig'%}
{% block title 'voir tout nos bien'%}
{% block body %}
<div class="container">
<h1> voir tout nos biens</h1>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Excepturi labore dolor sit, molestias nostrum mollitia beatae veniam soluta 
    provident quidem, officia distinctio. Similique voluptas molestiae
     minus. Quos cupiditate optio voluptate maxime voluptates dolore voluptatibus?
</div>
{% endblock %}