{% extends 'base.twig' %}

{% block body %}
<div class="jumbotron text-center">
<h1> Agence immo</h1>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Excepturi labore dolor sit, molestias nostrum mollitia beatae veniam soluta 
    provident quidem, officia distinctio. Similique voluptas molestiae
     minus. Quos cupiditate optio voluptate maxime voluptates dolore voluptatibus?
</div>
{% endblock %}